NEXT_PUBLIC_SERVER=http://localhost:5035
SERVER_URL=http://localhost:5035
NEXT_PUBLIC_MINIO_HOST=http://localhost:9000

DB_PATH=./data/translations.db
AUTH_DB_PATH=./data/sqlite.db

BETTER_AUTH_SECRET=VGNuoPMXOpqzCksOaRgklcL8Qf0b8aME
BETTER_AUTH_URL=http://localhost:3000
